#showPageImage {
    display: flex;
   width: 75%;
   height: 200px;
   margin: 150px auto; /* Half the height */

}

.category {
  width: 100%;
  height: 100%;
  background-size: cover;
}

#musicDiv{
  background: url('./assets/backgroundShow2Transparent.png') no-repeat -360px -132px;
}

#journalDiv{
  background: url('./assets/backgroundShow2Transparent.png') no-repeat -765px -132px;

}

#pictureDiv{
  background: url('./assets/backgroundShow2Transparent.png') no-repeat -1210px -132px;
}
