#showPageImage {
    display: flex;
   width: 75%;
   height: 200px;
   margin: 35vh auto; /* Half the height */
   text-align: center;
}

.category {

}

.categoryContainer {
  width: 75%;
  height: 100%;
  background-size: cover;
  text-align: center;
}

.horizontalCenter {
  text-align: center
}

#musicDiv{
  background: url('./assets/backgroundShow2Transparent.png') no-repeat -398px -141px;
  width: 193px;
	height: 160px;
  margin: auto
}

#journalDiv{
  background: url('./assets/backgroundShow2Transparent.png') no-repeat -778px -139px;
  width: 240px;
	height: 181px;
  margin: auto;
}

#pictureDiv{
  background: url('./assets/backgroundShow2Transparent.png') no-repeat -1239px -153px;
  width: 214px;
	height: 153px;
  margin:auto;
}

#heartLogo{
  max-width: 150px;
  max-height: 150px
}

#from {
    font-family: 'Pacifico', cursive;
     position: fixed;
     bottom: 0;
     right: 0;
     padding-right: 5vw;
}

input[type='file']{
  display: none;
}

.fileUploaderLabel{
  display: inline-block;
}

#imgPreview {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;

}

.gift-text {
  font-family: 'Pacifico', cursive;
}
