#showPageImage {
    display: flex;
   width: 75%;
   height: 200px;
   margin: 150px auto; /* Half the height */
   text-align: center;
}

.category {

}

.categoryContainer {
  position: relative;
  width: 75%;
  height: 100%;
  background-size: cover;
  text-align: center;
}

.horizontalCenter {
  text-align: center
}

#musicDiv{
  position: absolute;
  background: url('./assets/backgroundShow2Transparent.png') no-repeat -398px -141px;
  width: 193px;
	height: 160px;
}

#journalDiv{
  position: absolute;
  background: url('./assets/backgroundShow2Transparent.png') no-repeat -778px -139px;
  width: 240px;
	height: 181px;
}

#pictureDiv{
  position: absolute;
  background: url('./assets/backgroundShow2Transparent.png') no-repeat -1239px -153px;
  width: 214px;
	height: 153px;
}

#heartLogo{
  max-width: 150px;
  max-height: 150px
}
